body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

.space{
  margin-right: 15px;
  margin-left: 15px;
}

.logo-img{
  max-height: 64px!important;
  padding: 8px 0!important;
}

.collection-item a:hover{
  color: #90caf9   ;
}