**/.vscode
**/env
**/__pycache__
contify.conf
**/templates/summary.html
**/templates/home.html
**/templates/economy.html
**/templates/politics.html
**/templates/technology.html
**/templates/security.html
**/templates/subreddit.html
**/templates/webcomics.html
**/templates/status.html
