:root{
  /* Light Theme */
  --site-bg: #f5f5f5;
  --nav-footer: #1976d2;
  --c-light-text: #90caf9;

  /* Dark Theme */
  --c-dark-text : #d1d3d5;
  --c-dark-background: #383838;
  --c-dark-site-bg: #111111;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--site-bg)
  }

main {
  flex: 1 0 auto;
}

.space{
  margin-right: 15px;
  margin-left: 15px;
}

.logo-img{
  max-height: 64px!important;
  padding: 8px 0!important;
}

nav{
  background-color: var(--nav-footer)!important;
}

footer{
  background-color: var(--nav-footer)!important;
}

.switch label{
  color: white;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #607d8b !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #607d8b !important;
}

.collection-item a:hover{
  color: #90caf9;
}

[data-theme="dark"]{
  /* --site-bg: var(--c-dark-site-bg); */
  --nav-footer: var(--c-dark-background);
}