:root{
/*** Dark Theme ***/
  --site-bg: #1A1C20;
  --nav-footer: #141414;
  --link-text: #b2b6b9;
  --link-text-hover: #D9DADA;
  --link-text-visited: #4c5053;
  --panel-bg: #25282e;
  --text: #f5f5f5;
  --border: 1px solid #191919;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--site-bg)
  }

main {
  flex: 1 0 auto;
  color: var(--text);
}

.space{
  margin-right: 15px;
  margin-left: 15px;
}

.logo-img{
  max-height: 64px!important;
  padding: 8px 0;
}

nav{
  background-color: var(--nav-footer)!important;
}

footer{
  background-color: var(--nav-footer)!important;
}

ul.collection{
  border: var(--border)!important;
}

.collection-header{
  background-color: var(--panel-bg)!important;
  border: var(--border)!important;
  color: var(--text);
}

.collection-item{
  background-color: var(--panel-bg)!important;
  border: var(--border)!important;
  height: 44px;
}

main a{
  color: var(--link-text);
}

main .collection-item a:visited{
  color: var(--link-text-visited);
}

main a:hover{
  color: var(--link-text-hover);
}
