<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Contify</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149593725-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149593725-1');
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <script src="https://kit.fontawesome.com/7e6a7098f8.js"></script>
  <link rel="stylesheet" href="static/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Description" content="Contify is a huge collection of individual news, magazines and subreddits!">
</head>

<body>
  <nav>
    <div class="nav-wrapper space">
      <a href="/" aria-label="Redirect to frontpage" class="brand-logo"><img src="static/img/logo-white.png" alt="Contify Logo" class="logo-img" /></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/finance">Finance</a></li>
        <li><a href="/gaming">Gaming</a></li>
      </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/finance">Finance</a></li>
      <li><a href="/gaming">Gaming</a></li>
    </ul>
  </nav>

  <main>
    {% block main %} {% endblock%}
  </main>

  <footer class="page-footer">
    <div class="row space">
      <span class="col-s-4">Made by Marvin Dobslaw</span>
      <div class="switch space light right">
        <label>
          Light
          <input id="themeSwitch" type="checkbox" />
          <span class="lever"></span>
          Dark
        </label>
      </div>
    </div>
  </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="static/js/main.js"></script>
</body>

</html>
