
{% extends "base.html" %}

{% block main %}
<div  class="row">
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/gaming/" rel="noopener">r/gaming</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ojy41v/what_are_you_playing_wednesday/" target="_blank" rel="noopener" class="truncate">What are you playing Wednesday!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ok4fah/working_on_a_combat_system_in_my_game_earthbender/" target="_blank" rel="noopener" class="truncate">Working on a combat system in my game, Earthbender and some counter mechanics!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ojz4s7/think_chief_think/" target="_blank" rel="noopener" class="truncate">THINK CHIEF THINK!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ok2jxu/i_built_a_tiny_little_necklace_version_of_the/" target="_blank" rel="noopener" class="truncate">I built a tiny little necklace version of the legendary Mehrunes' Razor from Skyrim that can be unsheathed with a hidden button that activates the lock mechanism inside. Was told I should seek inspiration here on what to do next!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/oju3m7/where_it_all_began/" target="_blank" rel="noopener" class="truncate">Where it all began…</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ojnqou/found_an_unopened_ps1_in_my_grandfathers_attic/" target="_blank" rel="noopener" class="truncate">Found an unopened PS1 in my grandfathers attic!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ojx7j2/appropriate_i_think/" target="_blank" rel="noopener" class="truncate">Appropriate, I think.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ok4mx7/i_mean_seriously_there_is_just_a_hand_full_of/" target="_blank" rel="noopener" class="truncate">I mean seriously there is just a hand full of games where the ladders work well</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ojnoyz/we_are_losing_the_war/" target="_blank" rel="noopener" class="truncate">We are losing the war</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/gaming/comments/ojr0zy/better_anticheat_than_warzone/" target="_blank" rel="noopener" class="truncate">Better anticheat than warzone.....</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/pathofexile/" rel="noopener">Path of Exile</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ojsbc6/questions_thread_july_14_2021/" target="_blank" rel="noopener" class="truncate">Questions Thread - July 14, 2021</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/of9c69/315_league_info_megathread/" target="_blank" rel="noopener" class="truncate">3.15 League Info Megathread</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ok1di4/melcome_to_the_wetagame/" target="_blank" rel="noopener" class="truncate">Melcome to the Wetagame</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ok50m7/the_whole_point_of_this_game_is_changing_the_meta/" target="_blank" rel="noopener" class="truncate">The whole point of this game is changing the Meta every three months!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ojie4o/this_is_totally_how_ggg_is_gonna_achieve_the_big/" target="_blank" rel="noopener" class="truncate">This is totally how GGG is gonna achieve the big metagame shift they announced</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ok3z1l/high_end_strike_skills_are_fun_my_favorite_build/" target="_blank" rel="noopener" class="truncate">High end strike skills are fun! My favorite build in 3.14 - Glacial Hammer Slayer</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ojla0f/well_nerfs/" target="_blank" rel="noopener" class="truncate">Well... nerfs?</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ok4ij7/crit_talisman_on_steroids/" target="_blank" rel="noopener" class="truncate">Crit talisman on steroids.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ojq0bf/315_expansion_news_schedule/" target="_blank" rel="noopener" class="truncate">3.15 expansion News Schedule</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/pathofexile/comments/ojn4mk/im_calling_it_chris_is_going_to_apologize_for_the/" target="_blank" rel="noopener" class="truncate">I'm calling it chris is going to apologize for the "meta change" tweet and say it was a bad move on their part and should not have happened.</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/wow/" rel="noopener">World of Warcraft</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ojixel/sanctum_of_domination_world_first_race_megathread/" target="_blank" rel="noopener" class="truncate">Sanctum of Domination World First Race Megathread</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ojy424/midweek_mending_your_weekly_healing_thread/" target="_blank" rel="noopener" class="truncate">Midweek Mending - Your Weekly Healing Thread</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ojt18c/people_criticize_blizzards_storytelling_but_this/" target="_blank" rel="noopener" class="truncate">People criticize Blizzard's storytelling but this patch has seen the best character arc of any expansion to date.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ojv4ku/huge_turnout_at_roguecon_2021/" target="_blank" rel="noopener" class="truncate">Huge turnout at RogueCon 2021!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ojxk3t/with_the_new_glasses_i_can_be_the_real_prince_of/" target="_blank" rel="noopener" class="truncate">With the new glasses I can be the REAL Prince of Darkness!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ok0dgh/easiest_way_to_explain_how_my_entire_day_has_been/" target="_blank" rel="noopener" class="truncate">Easiest way to explain how my entire day has been</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ok2ncq/this_is_how_i_hope_the_patch_92_start/" target="_blank" rel="noopener" class="truncate">This is how I hope the patch 9.2 start</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ok2fak/blizzard_need_to_get_their_act_together_the_world/" target="_blank" rel="noopener" class="truncate">Blizzard need to get their act together. The world boss is lagging out the Maw and Korthia.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ojomej/so_i_was_working_on_the_covenant_assault_when_i/" target="_blank" rel="noopener" class="truncate">So, I was working on the covenant assault when I noticed something...</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wow/comments/ojykkc/painsmith_be_like/" target="_blank" rel="noopener" class="truncate">Painsmith be like...</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/terraria/" rel="noopener">Terraria</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ohlbz9/weekly_questions_thread_10072021/" target="_blank" rel="noopener" class="truncate">Weekly Questions Thread 10/07/2021</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/oiaeob/biweekly_building_contest_anything_goes_results/" target="_blank" rel="noopener" class="truncate">Biweekly Building Contest - Anything goes results</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ok20tf/i_drew_the_vampire_knives/" target="_blank" rel="noopener" class="truncate">I drew the Vampire Knives!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ojxqym/my_wip_teleporter_hub_with_teleportation/" target="_blank" rel="noopener" class="truncate">my (WIP) teleporter hub with teleportation 'animations'</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ojzdgk/surface_mushrooom_biome_in_an_old_world_of_mine/" target="_blank" rel="noopener" class="truncate">Surface Mushrooom Biome in an old world of mine</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ojx657/zoologist_day_4_what_da_dog_doin/" target="_blank" rel="noopener" class="truncate">zoologist day 4, what da dog doin</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ojildf/my_first_nonbox_build/" target="_blank" rel="noopener" class="truncate">My first non-box build!!!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ok2am1/i_invited_my_crush_to_play_terraria_and_asked_if/" target="_blank" rel="noopener" class="truncate">I invited my crush to play terraria and asked if he would like to become my boyfriend. He accepted</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ok3lge/when_you_make_your_arena_a_little_too_high/" target="_blank" rel="noopener" class="truncate">When you make your arena a little too high</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/Terraria/comments/ok5wcj/armor_doodle/" target="_blank" rel="noopener" class="truncate">Armor doodle</a></li>
</ul>
</div>

</div>
{% endblock %}

