
{% extends "base.html" %}

{% block main %}
<div  class="row">
<h4 class="center-align">Help Contify grow!</h4> <p class="center-align">Feel free to submit a new news source via a github issue! Please label them accordingly with a content label <a href="https://github.com/frainbreeze12/contify-python/issues">here</a>.</p><div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://makronom.de">Makronom</a></h6></li>
<li class="collection-item truncate"><a href="https://makronom.de/fiskalpolitik-schuldenbremse-auch-deutschland-wird-zum-opfer-des-outputluecken-nonsense-33628" target="_blank">Auch Deutschland wird zum Opfer des „Outputlücken-Nonsense“</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/wochenrueckblick-was-diese-woche-wichtig-war-116-33614" target="_blank">Was diese Woche wichtig war</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/economists4future-ein-echter-green-new-deal-sollte-auch-die-demokratie-staerken-33602" target="_blank">Ein echter Green New Deal sollte auch die Demokratie stärken</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/twitter-ranking-jetzt-auch-mit-tuev-siegel-33583" target="_blank">Jetzt auch mit TÜV-Siegel</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/lobby-republik-postwachstum-klimakrise-33574" target="_blank">Lobby-Republik, Postwachstum, Klimakrise</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/wie-kann-man-das-klimapaket-retten-33559" target="_blank">Wie kann man das Klimapaket retten?</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/wochenrueckblick-was-diese-woche-wichtig-war-115-33544" target="_blank">Was diese Woche wichtig war</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/niedrigzinsen-anti-ezb-bingo-im-presseclub-33513" target="_blank">Anti-EZB-Bingo im Presseclub</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/green-new-deal-wie-die-wende-zu-einem-nachhaltigen-finanzsystem-gelingen-kann-33471" target="_blank">Wie die Wende zu einem nachhaltigen Finanzsystem gelingen kann</a></li>
<li class="collection-item truncate"><a href="https://makronom.de/moats-piketty-pharma-industrie-33436" target="_blank">Moats, Piketty, Pharma-Industrie</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.n-tv.de/politik/">n-tv.de - Politik</a></h6></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/70-000-Kinder-fliehen-vor-tuerkischer-Offensive-article21331510.html" target="_blank">Schulen in Syrien unter Beschuss: 70.000 Kinder fliehen vor türkischer Offensive</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/politik_kommentare/Erpressbar-machtlos-verraeterisch-article21331462.html" target="_blank">Deutsche Syrien-Politik: Erpressbar, machtlos, verräterisch</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/Klimawandel-erhoeht-globale-Hungersnot-article21331143.html" target="_blank">"Katastrophal für Menschheit": Klimawandel erhöht globale Hungersnot</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/Jugend-sorgt-sich-am-meisten-um-Umwelt-article21331213.html" target="_blank">Shell veröffentlicht Studie: Jugend sorgt sich am meisten um Umwelt</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/Kurdenmilizen-erobern-Grenzstadt-zurueck-article21331058.html" target="_blank">Gefechte mit türkischen Truppen: Kurdenmilizen erobern Grenzstadt zurück</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/Barnier-haelt-puenktlichen-Brexit-fuer-moeglich-article21330965.html" target="_blank">EU bringt neue Vorschläge ein: Barnier hält pünktlichen Brexit für möglich</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/Schwere-Krawalle-in-Migrantenlager-article21331039.html" target="_blank">Griechische Inseln sind zu voll: Schwere Krawalle in Migrantenlager</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/Gerettete-Fluechtlinge-duerfen-in-Italien-an-Land-article21330878.html" target="_blank">Zielhafen für "Ocean Viking": Gerettete Flüchtlinge dürfen in Italien an Land</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/politik_person_der_woche/Boris-Pistorius-der-gefuehlte-SPD-Sieger-article21330688.html" target="_blank">Person der Woche: Boris Pistorius - der gefühlte SPD-Sieger</a></li>
<li class="collection-item truncate"><a href="https://www.n-tv.de/politik/Staat-muss-mehr-gegen-Fake-News-tun-article21330071.html" target="_blank">Silberberger bei n-tv Frühstart: "Staat muss mehr gegen Fake News tun"</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.heise.de/security/">heise Security</a></h6></li>
<li class="collection-item truncate"><a href="https://www.heise.de/mac-and-i/meldung/Surfdatenabfluss-nach-China-Apple-reagiert-auf-Kritik-4555661.html?wt_mc=rss.security.beitrag.atom" target="_blank">Surfdatenabfluss nach China: Apple reagiert auf Kritik</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/mac-and-i/meldung/Apple-Surfdaten-von-iPhone-Nutzern-koennen-nach-China-uebermittelt-werden-4555289.html?wt_mc=rss.security.beitrag.atom" target="_blank">Apple: Surfdaten von iPhone-Nutzern können nach China übermittelt werden</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/security/meldung/Neue-Sicherheitsluecken-in-Nitro-PDF-Pro-letzter-Patch-kam-2017-4554689.html?wt_mc=rss.security.beitrag.atom" target="_blank">Neue Sicherheitslücken in Nitro PDF Pro – letzter Patch kam 2017</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/newsticker/meldung/Smart-TV-Studie-Amazon-Fire-TV-und-Roku-sind-Datenschleudern-4554240.html?wt_mc=rss.security.beitrag.atom" target="_blank">Smart-TV-Studie: Amazon Fire TV und Roku sind Datenschleudern</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/newsticker/meldung/UNIX-Prominenz-waehlte-Schach-Eroeffnung-39-Jahre-alte-BSD-Passwoerter-geknackt-4554180.html?wt_mc=rss.security.beitrag.atom" target="_blank">UNIX-Prominenz wählte Schach-Eröffnung: 39 Jahre alte BSD-Passwörter geknackt</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/security/meldung/Kritische-Sicherheitsluecke-in-macOS-Terminalemulator-iTerm2-4553495.html?wt_mc=rss.security.beitrag.atom" target="_blank">Kritische Sicherheitslücke in macOS-Terminalemulator iTerm2</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/security/meldung/OpenSSH-8-1-Schutz-vor-RAM-Seitenkanalangiffen-und-Sicherheits-Bugfix-4553464.html?wt_mc=rss.security.beitrag.atom" target="_blank">OpenSSH 8.1: Schutz vor RAM-Seitenkanalangriffen und Sicherheits-Bugfix</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/security/meldung/Remote-Angriffe-und-Denial-of-Service-Schwachstellen-in-Juniper-Netzwerktechnik-4553168.html?wt_mc=rss.security.beitrag.atom" target="_blank">Remote-Angriffe und Denial-of-Service: Schwachstellen in Juniper-Netzwerktechnik</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/mac-and-i/meldung/Zeroday-Fehler-in-iTunes-fuer-Windows-wird-fuer-Ransomware-ausgenutzt-4551900.html?wt_mc=rss.security.beitrag.atom" target="_blank">Zeroday-Fehler in iTunes für Windows wird für Ransomware ausgenutzt</a></li>
<li class="collection-item truncate"><a href="https://www.heise.de/security/meldung/Zurueckgehackt-Deutscher-Webentwickler-wehrt-sich-gegen-Ransomware-4551187.html?wt_mc=rss.security.beitrag.atom" target="_blank">Zurückgehackt: Deutscher Webentwickler wehrt sich gegen Ransomware</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.security-insider.de/">Security-Insider</a></h6></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/netzwerksicherheit/security-testing/articles/864147" target="_blank">Open Source Scanner prüft Netzwerke auf Angriffsspuren</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/netzwerksicherheit/internet-of-things/articles/863308" target="_blank">Datenschutz als Schlüssel zur Akzeptanz von Smart Home</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/applikationssicherheit/sichere-software-entwicklung/articles/862640" target="_blank">Bug-Bounty-Programm für Play Store ausgeweitet</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/netzwerksicherheit/intrusion-detection-und-prevention/articles/863386" target="_blank">Ursachen von Cyberangriffen mit IT-Forensik erkennen</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/plattformsicherheit/mobilesecurity/articles/872640" target="_blank">Samsung entwickelt eigene Android-Variante für die Bundeswehr</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/sicherheits-management/compliance-und-datenschutz/articles/863279" target="_blank">Sicherheitsexperten bewerten die DSGVO als ineffektiv</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/sicherheits-management/sicherheitsvorfaelle/articles/862641" target="_blank">Tausendfache Datenverluste, meist selbst verschuldet</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/sicherheits-management/compliance-und-datenschutz/articles/863769" target="_blank">Was sind die Aufgaben eines Datenschutzbeauftragten?</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/identity-und-access-management/passwort-management/articles/863259" target="_blank">Würden Sie Ihre persönlichen Daten zurückkaufen?</a></li>
<li class="collection-item truncate"><a href="https://www.Security-Insider.de/themenbereiche/bedrohungen/sicherheitsluecken/articles/872542" target="_blank">Einige D-Link-Router sind nicht mehr zu retten</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/popular/">popular links</a></h6></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/AskReddit/comments/di0g3m/if_you_died_the_exact_same_way_as_the_last_time/" target="_blank">If you died the exact same way as the last time you died in a video game, what would your death be?</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/mildlyinteresting/comments/di4vu7/the_rain_did_this_looks_like_van_gogh/" target="_blank">The rain did this. Looks like Van Gogh.</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/nba/comments/di0jp9/spears_i_believe_he_was_misinformed_and_not/" target="_blank">[Spears] “I believe he was misinformed and not educated on the situation,” LeBron James said on the Morey tweet. LeBron added Morey’s tweet was dangerous. LeBron said he is uncertain about the future ramifications of the Morey tweet with the NBA and players.</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/NintendoSwitch/comments/di1sc2/please_be_aware_that_the_previously_announced/" target="_blank">"Please be aware that the previously announced Overwatch launch event scheduled for Wednesday, 10/16 at NintendoNYC has been cancelled by Blizzard. We apologize for any inconvenience this may cause." - @NintendoNYC</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/movies/comments/dhx0ub/zoe_kravitz_cast_as_catwoman_in_matt_reeves_the/" target="_blank">Zoe Kravitz Cast as Catwoman in Matt Reeves’ ‘The Batman’</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/videos/comments/dhvnln/dont_breakcrash_in_to_a_tesla/" target="_blank">Don't break/crash in to a Tesla</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/news/comments/dhzr3a/fort_worth_officer_charged_with_murder_after/" target="_blank">Fort Worth Officer Charged With Murder After Shooting That Killed Atatiana Jefferson</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/politics/comments/dhzcrk/deletefacebook_trends_after_report_that_mark/" target="_blank">#DeleteFacebook Trends After Report That Mark Zuckerberg Held Secretive Meetings With Conservative Influencers</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/insanepeoplefacebook/comments/dhyq57/why_do_people_hate_helping_others_its_insane/" target="_blank">Why do people hate helping others? It's insane.</a></li>
<li class="collection-item truncate"><a href="https://www.reddit.com/r/WatchPeopleDieInside/comments/di59ow/the_moment_jamie_oliver_tried_to_show_kids_that/" target="_blank">The moment Jamie Oliver tried to show kids that nuggets are disgusting</a></li>
</ul>
</div>

</div>
{% endblock %}

