
{% extends "base.html" %}

{% block main %}
<div  class="row">
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/me_irl/" rel="noopener">selfies of the soul</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/mg42qd/me_irl_is_not_for_screenshots/" target="_blank" rel="noopener" class="truncate">me irl is not for screenshots</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ok2l4i/me_irl/" target="_blank" rel="noopener" class="truncate">me irl</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ok2qbx/me_irl/" target="_blank" rel="noopener" class="truncate">Me irl</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ojy6wq/me_irl/" target="_blank" rel="noopener" class="truncate">me_irl</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ojzn0k/me_irl/" target="_blank" rel="noopener" class="truncate">Me irl</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ok3rw4/me_irl/" target="_blank" rel="noopener" class="truncate">me_irl</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ok04q4/meirl/" target="_blank" rel="noopener" class="truncate">me🍩irl</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ok2n4b/me_irl/" target="_blank" rel="noopener" class="truncate">me_irl</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ojypdb/me_irl/" target="_blank" rel="noopener" class="truncate">Me_irl</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/me_irl/comments/ojosgk/me_irl/" target="_blank" rel="noopener" class="truncate">me_irl</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/ich_iel/" rel="noopener">ich iel - selbsties der seele</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ok0yyf/ich_iel/" target="_blank" rel="noopener" class="truncate">Ich_iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ojxxrd/ichiel/" target="_blank" rel="noopener" class="truncate">Ich💸iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ok1iy3/ich_iel/" target="_blank" rel="noopener" class="truncate">ich_iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ojzesr/ich_iel/" target="_blank" rel="noopener" class="truncate">ich iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ojy6kh/ich_iel/" target="_blank" rel="noopener" class="truncate">ich_iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ojzc0a/ich_iel/" target="_blank" rel="noopener" class="truncate">Ich_iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ojy47k/ichiel/" target="_blank" rel="noopener" class="truncate">Ich🍬iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ok130q/ich_iel/" target="_blank" rel="noopener" class="truncate">ich_iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ojzdn4/ichiel/" target="_blank" rel="noopener" class="truncate">ich🎂🌳iel</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ich_iel/comments/ojycff/ichiel/" target="_blank" rel="noopener" class="truncate">ich🐸iel</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/shitposting/" rel="noopener">Shitposting</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ojd745/ill_drink_to_that/" target="_blank" rel="noopener" class="truncate">I'll drink to that.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ojr4na/first_shitpost_also_its_apple_with_maple_syrup/" target="_blank" rel="noopener" class="truncate">First shitpost also its apple with maple syrup its gud</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ok1xu8/i_hate_that_bastard_kevin/" target="_blank" rel="noopener" class="truncate">I hate that bastard kevin</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ojy7ir/sus/" target="_blank" rel="noopener" class="truncate">sus</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ok30vy/tik_tok_tic_tac/" target="_blank" rel="noopener" class="truncate">Tik tok 🤢👎 > tic tac 😎👍</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ok3qj5/make_sens/" target="_blank" rel="noopener" class="truncate">Make sens</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ojxdxc/holy_fucking_shit_it_makes_monkeys/" target="_blank" rel="noopener" class="truncate">Holy fucking shit it makes monkeys</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ojvi2y/zodiac_bad/" target="_blank" rel="noopener" class="truncate">zodiac bad</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/oju9gh/_/" target="_blank" rel="noopener" class="truncate">😳</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/shitposting/comments/ojsx81/i_sure_do/" target="_blank" rel="noopener" class="truncate">i sure do 🤣</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/ape/" rel="noopener">ape</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/nwpvcz/apecord_gone_thank_you_nahster_love_you_wahooooooo/" target="_blank" rel="noopener" class="truncate">APECORD GONE THANK YOU NAHSTER LOVE YOU WAHOOOOOOO</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/ok2s0u/a_day_in_the_life_of_a_monke/" target="_blank" rel="noopener" class="truncate">A day in the life of a monke</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/ojr5j4/monke_ooo_oo_aaaa/" target="_blank" rel="noopener" class="truncate">Monke ooo oo aaaa</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/ojl8m7/ninja_monke/" target="_blank" rel="noopener" class="truncate">Ninja monke</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/ok4uxu/hooman_cancel_culture/" target="_blank" rel="noopener" class="truncate">Hooman cancel culture 😡🤬</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/ojtpop/wise_words/" target="_blank" rel="noopener" class="truncate">Wise words.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/ojbvxr/im_not_sure_who_saw_my_last_two_monkeys_scenes/" target="_blank" rel="noopener" class="truncate">Im not sure who saw my last two monkeys scenes, but I made another one.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/oixir1/the_new_champion/" target="_blank" rel="noopener" class="truncate">The new champion.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/ojktjv/monkey_has_made_some_smart_investments_allowing/" target="_blank" rel="noopener" class="truncate">Monkey has made some smart investments allowing for his lifestyle</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ape/comments/oj2xr8/monke/" target="_blank" rel="noopener" class="truncate">Monke</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/shitpostcrusaders/" rel="noopener">JoJo's Bizarre Shitposts</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/o9adqs/shitpostcrusaders_5_years_celebration/" target="_blank" rel="noopener" class="truncate">ShitpostCrusaders: 5 Years Celebration</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/ok1d6z/never_divorce_parent_or_else/" target="_blank" rel="noopener" class="truncate">Never divorce parent or else...</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/ok0ss0/dr_doofenshmirtz_reveals_his_true_stand/" target="_blank" rel="noopener" class="truncate">Dr. Doofenshmirtz reveals his true stand.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/ok3ew2/it_was_fun_while_it_lasted/" target="_blank" rel="noopener" class="truncate">It was fun while it lasted</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/ok21t9/im_sure_girls_want_it_too/" target="_blank" rel="noopener" class="truncate">I'm sure girls want it too</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/ojz89g/i_get_that_jotaro_majorly_contributed_to_koichis/" target="_blank" rel="noopener" class="truncate">I get that Jotaro majorly contributed to Koichi's discover, but Kira has no reason to single out Josuke</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/ojwioa/alessi_is_watching/" target="_blank" rel="noopener" class="truncate">ALESSI IS WATCHING</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/oju1zq/coincidence_i_think_not/" target="_blank" rel="noopener" class="truncate">Coincidence? I think NOT!!!</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/ojzxsl/this_is_the_most_cursed_thing_i_created_so_far/" target="_blank" rel="noopener" class="truncate">This is the most cursed thing I created so far</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ShitPostCrusaders/comments/ojt9te/dont_disrespect_bruno_like_that/" target="_blank" rel="noopener" class="truncate">Don’t disrespect Bruno like that</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/terriblefacebookmemes/" rel="noopener">😎HAHA DAE MINIONS!!!😎</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojxl9k/yeah_yeah_next_generation_is_bad/" target="_blank" rel="noopener" class="truncate">Yeah yeah next generation is bad</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ok4oef/these_pretzels_are_making_me_thursday/" target="_blank" rel="noopener" class="truncate">These pretzels are making me Thursday</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ok17rr/posted_to_facebook_by_my_grandma_she_actually_did/" target="_blank" rel="noopener" class="truncate">Posted to Facebook by my Grandma. (She actually did trip on the stairs recently.)</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojcze3/deep/" target="_blank" rel="noopener" class="truncate">Deep 😲</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojy09k/how_many_shares_can_we_get_for_our_girls_in_camo/" target="_blank" rel="noopener" class="truncate">How many shares can we get for our girls in camo?</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojylet/omg_this_ones_so_bad/" target="_blank" rel="noopener" class="truncate">omg this one's so bad</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojohn8/its_not_that_bad_but_still_kinda_cringe/" target="_blank" rel="noopener" class="truncate">Its not that bad but still kinda cringe</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojyra6/or_just_dont_drive_to_empty/" target="_blank" rel="noopener" class="truncate">or just don't drive to empty</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojbq77/buhahha/" target="_blank" rel="noopener" class="truncate">BUHAHHA</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojnp7r/dumb_creature/" target="_blank" rel="noopener" class="truncate">Dumb creature</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/ichbin40undlustig/" rel="noopener">ichbin40undlustig</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ojzgdx/es_ist_einfach_zu_schmal_die_tür_lieber_mal_kein/" target="_blank" rel="noopener" class="truncate">🤣 es ist einfach zu schmal die tür lieber mal kein kuchen essen,,, nicht war???🍕🍕🌮🤣🤣🤣🤣</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ojzf41/dumme_wessies_schmarotzen_den_ganzen_tag_wie_die/" target="_blank" rel="noopener" class="truncate">dumme wessies🤬🤮 schmarotzen den ganzen tag wie die kapitalistischen dreckssäcke die sie auch sind🇧🇪🇩🇪🇧🇪🇧🇪🇧🇪</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ojzfs9/jens_der_gute_hat_letztens_seine_tochter/" target="_blank" rel="noopener" class="truncate">🤣🤣 jens der gute, hat letztens seine tochter gezüchtigt🤬, weil sie auch nur wagte den lügen medien zu trauen🤮🤮🤮</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ojjq9y/immer_dieser_gender_gaga/" target="_blank" rel="noopener" class="truncate">🤣🤪😝 Immer dieser Gender Gaga🤯😱😜😂😆🥳</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ok6snv/hat_auch_sonst_nichts_zu_tun_als_in_der_küche_zu/" target="_blank" rel="noopener" class="truncate">🤣🤣🤣🤣🤣HAT AUCH SONST NICHTS ZU TUN ALS IN DER KÜCHE ZU STEHEN MEINE ALTE🤣🤣🤣🤣🤣🤣🤣🤣🤣</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ok2tfk/war_doch_ehwieso_klar_gewesen/" target="_blank" rel="noopener" class="truncate">😂 War doch ehwieso klar gewesen 😂</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ojabhu/da_hat_der_markus_auf_facebook_mal_wieder_den/" target="_blank" rel="noopener" class="truncate">DA HAT , der markus🙋‍♂️🙋‍♂️. auf facebook mal wieder den absoluten wahnsinn🤪🤪 auf die pinnwand📍📍 angeschlagen🤣🤣🤣🤣</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ojom8t/hier_der_alex_schallert_mal_wieder_einen_raus_dat/" target="_blank" rel="noopener" class="truncate">Hier, der Alex schallert mal wieder einen raus, dat alte Haus. 😂😂😂Nimmer packt hab ich‘s, nimmer packt🤪</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/ojjftn/da_hat_der_torsten_mal_wieder_ein_richtiges/" target="_blank" rel="noopener" class="truncate">Da hat der Torsten 🤓🤓 mal wieder ein richtiges Goldstück 🍺🍺in die WaGruppe geschickt 😎 GaLiGrü - euer Günni</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/ichbin40undlustig/comments/oj8sr2/da_hat_der_hans_mal_wieder_einen_rausgehauen/" target="_blank" rel="noopener" class="truncate">🤣🤣🤣🤣🤣Da hat der Hans mal wieder einen Rausgehauen🤣🤣😂😂😂😂😂🍻 brauch jetzt erst mal wieder ein Bier......oder zwei🍺🍺🍻🍻🍻🍻🍻🍻 Euer Peter</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/wasletztepreis/" rel="noopener">Was letzte Preis?</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/7f9180/adresse_unkenntlich_machen_sonst_zack_und_weg/" target="_blank" rel="noopener" class="truncate">Adresse unkenntlich machen! Sonst zack und weg.</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/jte17t/neues_memeflair/" target="_blank" rel="noopener" class="truncate">Neues Meme-Flair</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/ok03mk/was_letzte_sonnenblumenkerne/" target="_blank" rel="noopener" class="truncate">Was letzte Sonnenblumenkerne</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/ojyc5m/wenn_deine_uni_den_campus_verkauft/" target="_blank" rel="noopener" class="truncate">Wenn deine Uni den Campus verkauft</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/ok0z0a/was_letzte_verschmutzung_der_meere/" target="_blank" rel="noopener" class="truncate">Was letzte Verschmutzung der Meere</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/ojk1sm/was_letzte_ehrlichkeit/" target="_blank" rel="noopener" class="truncate">Was letzte ehrlichkeit?</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/ok0g2i/was_letzte_perfekter_deal/" target="_blank" rel="noopener" class="truncate">Was letzte perfekter Deal</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/ojzaa0/was_letzte_ball/" target="_blank" rel="noopener" class="truncate">Was letzte Ball?</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/ok68nd/rosen_sind_rot_das_finanzamt_ist_dumm_deshalb/" target="_blank" rel="noopener" class="truncate">Rosen sind rot, das Finanzamt ist dumm, deshalb verkaufe ich ein</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/wasletztepreis/comments/ok3vbn/was_letzte_elede/" target="_blank" rel="noopener" class="truncate">was letzte Elede</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1 hoverable">
<li class="collection-header"><h6><a href="https://www.reddit.com/r/terriblefacebookmemes/" rel="noopener">😎HAHA DAE MINIONS!!!😎</a></h6></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojxl9k/yeah_yeah_next_generation_is_bad/" target="_blank" rel="noopener" class="truncate">Yeah yeah next generation is bad</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ok4oef/these_pretzels_are_making_me_thursday/" target="_blank" rel="noopener" class="truncate">These pretzels are making me Thursday</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ok17rr/posted_to_facebook_by_my_grandma_she_actually_did/" target="_blank" rel="noopener" class="truncate">Posted to Facebook by my Grandma. (She actually did trip on the stairs recently.)</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojcze3/deep/" target="_blank" rel="noopener" class="truncate">Deep 😲</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojy09k/how_many_shares_can_we_get_for_our_girls_in_camo/" target="_blank" rel="noopener" class="truncate">How many shares can we get for our girls in camo?</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojylet/omg_this_ones_so_bad/" target="_blank" rel="noopener" class="truncate">omg this one's so bad</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojohn8/its_not_that_bad_but_still_kinda_cringe/" target="_blank" rel="noopener" class="truncate">Its not that bad but still kinda cringe</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojyra6/or_just_dont_drive_to_empty/" target="_blank" rel="noopener" class="truncate">or just don't drive to empty</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojbq77/buhahha/" target="_blank" rel="noopener" class="truncate">BUHAHHA</a></li>
<li class="collection-item"><a href="https://www.reddit.com/r/terriblefacebookmemes/comments/ojnp7r/dumb_creature/" target="_blank" rel="noopener" class="truncate">Dumb creature</a></li>
</ul>
</div>

</div>
{% endblock %}

