
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
  <title>Contify</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <nav class="blue darken-2">
    <div class="nav-wrapper space">
      <a href="#" class="brand-logo"><img src="static/img/logo-white.png" class="logo-img"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Letzte Aktualisierung: 30.08.19 22:31:47</li>
      </ul>
    </div>
  </nav>

<main>
<div  class="row">
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1">
<li class="collection-header"> <h5>www.heise.de </h5></li><li class="collection-item truncate"><a href='https://www.heise.de/newsticker/meldung/Justizministerin-will-Gesetz-gegen-Hetze-im-Netz-verschaerfen-4511144.html'>Justizministerin will Gesetz gegen Hetze im Netz verschärfen</a></li>
<li class="collection-item truncate"><a href='https://www.techstage.de/news/Pix-vs-Klon-Rucksaecke-mit-LED-Display-im-Vergleich-4510905.html?wt_mc=intern.newsticker.anrissliste.techstage'>Pix vs. Klon: Rucksäcke mit LED-Display im Vergleich</a></li>
<li class="collection-item truncate"><a href='https://www.heise.de/mac-and-i/meldung/Safari-13-Apple-streicht-Support-fuer-alte-Erweiterungen-und-macOS-Sierra-4511086.html'>Safari 13: Apple streicht Support für alte Erweiterungen und macOS Sierra</a></li>
<li class="collection-item truncate"><a href='https://www.heise.de/newsticker/meldung/DSGVO-und-Mittelstand-Altmaier-will-noch-weniger-Betriebsdatenschutzbeauftragte-4511018.html'>DSGVO und Mittelstand: Altmaier will noch weniger Betriebsdatenschutzbeauftragte</a></li>
<li class="collection-item truncate"><a href='https://www.heise.de/newsticker/meldung/Abbyys-Finereader-15-verarbeitet-PDFs-4510832.html'>Abbyys Finereader 15 verarbeitet PDFs</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1">
<li class="collection-header"> <h5>www.golem.de </h5></li>
<li class="collection-item truncate"><a href='https://www.golem.de/news/kostenanstieg-modernisierung-der-bundes-it-droht-zu-scheitern-1908-143545.html'>Kostenanstieg: Modernisierung der Bundes-IT droht zu scheitern</a></li>
<li class="collection-item truncate"><a href='https://www.golem.de/news/layjet-micro-rohr-telekom-testet-zehnmal-schnelleres-ftth-verlegeverfahren-1908-143547.html'>Layjet Micro-Rohr: Telekom testet zehnmal schnelleres FTTH-Verlegeverfahren</a></li>
<li class="collection-item truncate"><a href='https://www.golem.de/news/echion-technologies-neuer-akku-soll-sich-in-sechs-minuten-laden-lassen-1908-143537.html'>Echion Technologies: Neuer Akku soll sich in sechs Minuten laden lassen</a></li>
<li class="collection-item truncate"><a href='https://www.golem.de/news/zenbook-14-und-15-asus-verbessert-das-notebook-mit-dem-display-im-touchpad-1908-143546.html'>Zenbook 14 und 15: Asus verbessert das Notebook mit dem Display im Touchpad</a></li>
<li class="collection-item truncate"><a href='https://www.golem.de/news/digitalisierung-unser-gehirn-hat-einen-falschen-algorithmus-entwickelt-1908-143033.html'>Digitalisierung: Unser Gehirn hat einen falschen Algorithmus entwickelt</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1">
<li class="collection-header"> <h5>t3n.de </h5></li>
<li class="collection-item truncate"><a href='https://t3n.de/news/depp-trottel-krueppel-forkt-1193328/'>Depp, Trottel, Krüppel: Entwickler forkt GIMP, weil er den Namen für untragbar hält</a></li>
<li class="collection-item truncate"><a href='https://t3n.de/news/le-tote-kauft-lord-taylor-1193158/'>Le Tote kauft Lord & Taylor: Wieso Pureplayer Kaufhäuser retten</a></li>
<li class="collection-item truncate"><a href='https://t3n.de/news/apple-iphone-11-pro-11-pro-max-geruechte-ausstattung-release-1184254/'>iPhone 11 Pro und 11 Pro Max: So sehen sie aus, das steckt wohl drin</a></li>
<li class="collection-item truncate"><a href='https://t3n.de/news/bitkom-vorreiterrolle-flugtaxis-1193260/'>Bitkom-Umfrage: Deutsche sehen in Flugtaxis Chance für die Wirtschaft</a></li>
<li class="collection-item truncate"><a href='https://t3n.de/news/feathers-4-update-1193192/'>Feathers 4: Das bringt das Update des JavaScript-Frameworks</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1">
<li class="collection-header"> <h5>www.spiegel.de </h5></li>
<li class="collection-item truncate"><a href='https://www.spiegel.de/sport/fussball/bundesliga-rb-leipzig-siegt-dank-timo-werner-bei-borussia-moenchengladbach-a-1284567.html'>Fußball-Bundesliga: Überragender Werner schießt Leipzig in Mönchengladbach zum Sieg</a></li>
<li class="collection-item truncate"><a href='https://www.spiegel.de/lebenundlernen/schule/greta-thunberg-demonstriert-erstmals-in-den-usa-a-1284569.html'>Nach Ankunft in New York: Greta Thunberg demonstriert erstmals in den USA</a></li>
<li class="collection-item truncate"><a href='https://www.spiegel.de/politik/deutschland/dietmar-woidke-aeussert-sich-zu-spiegel-enthuellungen-ueber-andreas-kalbitz-a-1284570.html'>Woidke über Kalbitz-Enthüllungen: "Tief im braunen Sumpf"</a></li>
<li class="collection-item truncate"><a href='https://www.spiegel.de/kultur/kino/filmfestival-venedig-j-accuse-von-roman-polanski-a-1284543.html'>Polanskis "J'Accuse" in Venedig: Ein wichtiger Film, ein endloser Skandal</a></li>
<li class="collection-item truncate"><a href='https://www.spiegel.de/politik/ausland/hongkong-der-stadt-koennte-ein-unruhiges-wochenende-bevorstehen-a-1284530.html'>Proteste in Hongkong: "Wir werden unseren Kampf fortsetzen"</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1">
<li class="collection-header"> <h5>www.welt.de </h5></li>
<li class="collection-item truncate"><a href='https://www.welt.de/politik/ausland/article199471178/Griechenland-Innerhalb-einer-Stunden-landen-13-Boote-mit-Migranten-auf-Lesbos-an.html'>Innerhalb einer Stunde landen 13 Boote mit Migranten auf Lesbos an</a></li>
<li class="collection-item truncate"><a href='https://www.welt.de/vermischtes/article199452504/Herne-Kobra-lebend-eingefangen.html'>Als die Kobra davongefahren wird, klatschen die Nachbarn Beifall</a></li>
<li class="collection-item truncate"><a href='https://www.welt.de/wirtschaft/article199428776/Umwelthilfe-Klage-Braunkohle-Tagebau-Jaenschwalde-muss-Betrieb-vorerst-einstellen.html'>Braunkohle-Tagebau Jänschwalde muss Betrieb vorerst einstellen</a></li>
<li class="collection-item truncate"><a href='https://www.welt.de/vermischtes/article199422038/Wetter-in-Deutschland-Sommer-war-drittwaermster-seit-Beginn-der-Wetteraufzeichnungen.html'>Sommer 2019 war drittwärmster seit Beginn der Wetteraufzeichnungen</a></li>
<li class="collection-item truncate"><a href='https://www.welt.de/sport/article199426414/Uli-Hoeness-Am-16-November-werde-ich-aufwachen-und-ohne-Plan-sein.html'>„Am 16. November werde ich aufwachen und ohne Plan sein“</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1">
<li class="collection-header"> <h5>www.businessinsider.de </h5></li>
<li class="collection-item truncate"><a href='https://www.businessinsider.de/minijobs-verdienstgrenze-geringfuegige-beschaeftigung-erhoehung-450-auf-ueber-500-euro-2019-8'>Exklusiv: Wirtschaftsministerium will Verdienstgrenze für Minijobs von 450 auf mehr als 500 Euro erhöhen</a></li>
<li class="collection-item truncate"><a href='https://www.businessinsider.de/warum-ihr-euch-trotz-iphone-einen-ipod-touch-kaufen-solltet-2019-8'>Trotz iPhone: Warum Apple weiterhin neue iPods auf den Markt bringt</a></li>
<li class="collection-item truncate"><a href='https://www.businessinsider.de/kopfhoerer-brueder-sennheiser-wir-fuehlen-uns-von-der-politik-verlassen-2019-8'>Unternehmer-Brüder Sennheiser: „Wir fühlen uns von der Politik verlassen“</a></li>
<li class="collection-item truncate"><a href='https://www.businessinsider.de/linke-chefin-kipping-fordert-ruecktritt-des-ostbeauftragten-der-bundesregierung-2019-8'>Linke-Chefin Kipping fordert Rücktritt des Ostbeauftragten der Bundesregierung</a></li>
<li class="collection-item truncate"><a href='https://www.businessinsider.de/brexit-lebensmittel-knappheit-grossbritannien-2019-8'>Brexit-Chaos: Britische Regierung warnt Händler vor Lebensmittelknappheit</a></li>
</ul>
</div>
<div class="col s12 m6 xl4">
<ul class="collection with-header z-depth-1">
<li class="collection-header"> <h5>www.netzwelt.de </h5></li>
<li class="collection-item truncate"><a href='https://www.netzwelt.de/buzz/164155-vikings-harald-koenig-norwegen-wahrheit-wikingern.html'>Vikings: Harald wird König von Norwegen! Die Wahrheit hinter den Wikingern</a></li>
<li class="collection-item truncate"><a href='https://www.netzwelt.de/video-streaming/kaufberatung-netflixletzte-chance-serien-filme-geloescht.html'>Netflix - Letzte Chance im August: Diese Serien und Filme verschwinden</a></li>
<li class="collection-item truncate"><a href='https://www.netzwelt.de/schnaeppchen/index.html'>Technik-Deals im Preischeck: Das sind die besten Angebote</a></li>
<li class="collection-item truncate"><a href='https://www.netzwelt.de/video-streaming/kaufberatung-amazon-prime-videoletzte-chance-filme-serien-verschwinden-bald.html'>Amazon Prime Video - Letzte Chance: Diese Filme und Serien verschwinden bald</a></li>
<li class="collection-item truncate"><a href='https://www.netzwelt.de/ticketmaster/testbericht.html'>Erfahrungen mit Ticketmaster: Deutsche Live Nation-Tochter im Test</a></li>
</ul>
</div>

</div>
</main>

<footer class="page-footer blue darken-2">
  <div class="row space">
    <span class="col-s-4">© 2019 Copyright Text</span>
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</footer>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
