<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="static/img/favicon.ico"
    />
    <title>Contify</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <nav class="blue darken-2">
      <div class="nav-wrapper space">
        <a href="#" class="brand-logo"
          ><img src="static/img/logo-white.png" class="logo-img"
        /></a>
        <ul id="nav-mobile" class="rightsss hide-on-med-and-down">
          <li>Letzte Aktualisierung: 01.09.19 14:23:38</li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="row">
        <div class="col s12 m6 xl4">
          <ul class="collection with-header z-depth-1">
            <li class="collection-header"><h5>www.heise.de</h5></li>
            <li class="collection-item truncate">
              <a
                href="https://www.heise.de/newsticker/meldung/Afrika-als-neuer-Player-in-der-Digitalwirtschaft-4511303.html"
                >Afrika als neuer Player in der Digitalwirtschaft</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.heise.de/newsticker/meldung/BDI-Praesident-sieht-keine-schnellen-Fortschritte-bei-Mobilfunk-Ausbau-4511297.html"
                >BDI-Präsident sieht keine schnellen Fortschritte bei
                Mobilfunk-Ausbau</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.heise.de/newsticker/meldung/E-Autos-in-Deutschland-Muenchen-liegt-an-der-Spitze-4511301.html"
                >E-Autos in Deutschland: München liegt an der Spitze</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.heise.de/newsticker/meldung/Update-fuer-Windows-10-Version-1903-macht-Probleme-4511291.html"
                >Update für Windows 10 Version 1903 macht Probleme</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.heise.de/newsticker/meldung/Die-Highlights-bei-Netflix-und-Amazon-Prime-Video-im-September-4505043.html"
                >Die Highlights bei Netflix und Amazon Prime Video im
                September</a
              >
            </li>
          </ul>
        </div>
        <div class="col s12 m6 xl4">
          <ul class="collection with-header z-depth-1">
            <li class="collection-header"><h5>www.golem.de</h5></li>
            <li class="collection-item truncate">
              <a
                href="https://www.golem.de/news/elektroauto-vw-stellt-den-id-3-auf-der-iaa-vor-1909-143554.html"
                >Elektroauto: VW stellt den ID.3 auf der IAA vor</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.golem.de/news/digitalisierung-unser-gehirn-hat-einen-falschen-algorithmus-entwickelt-1908-143033.html"
                >Digitalisierung: Unser Gehirn hat einen falschen Algorithmus
                entwickelt</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.golem.de/news/tesla-supercharger-laden-mit-mehr-leistung-1909-143553.html"
                >Tesla: Supercharger laden mit mehr Leistung</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.golem.de/news/amazon-prime-video-die-finale-staffel-von-mr-robot-kommt-ab-oktober-2019-1908-143552.html"
                >Amazon Prime Video: Die finale Staffel von Mr. Robot kommt ab
                Oktober 2019</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.golem.de/news/echion-technologies-neuer-akku-soll-sich-in-sechs-minuten-laden-lassen-1908-143537.html"
                >Echion Technologies: Neuer Akku soll sich in sechs Minuten
                laden lassen</a
              >
            </li>
          </ul>
        </div>
        <div class="col s12 m6 xl4">
          <ul class="collection with-header z-depth-1">
            <li class="collection-header"><h5>t3n.de</h5></li>
            <li class="collection-item truncate">
              <a
                href="https://t3n.de/news/vorurteilen-ki-systemen-vorbeugen-1192402/"
                >Wie du Vorurteilen in KI-Systemen vorbeugen kannst</a
              >
            </li>
            <li class="collection-item truncate">
              <a href="https://t3n.de/news/apple-homekit-im-test-2019-1185589/"
                >Homekit im Test: 2019 nimmt Apples Smarthome Form an</a
              >
            </li>
            <li class="collection-item truncate">
              <a href="https://t3n.de/news/amazon-6-fakten-789584/"
                >7 erstaunliche Dinge, die du noch nicht über Amazon wusstest</a
              >
            </li>
            <li class="collection-item truncate">
              <a href="https://t3n.de/news/5-dos-donts-kundenservice-1191919/"
                >5 Dos und Dont’s im Kundenservice</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://t3n.de/news/corporate-courage-vergesst-mut-1191895/"
                >Corporate Courage: Vergesst den Brand-Purpose – wir brauchen
                Mut!</a
              >
            </li>
          </ul>
        </div>
        <div class="col s12 m6 xl4">
          <ul class="collection with-header z-depth-1">
            <li class="collection-header"><h5>www.spiegel.de</h5></li>
            <li class="collection-item truncate">
              <a
                href="https://www.spiegel.de/politik/ausland/kunduz-afghanisches-militaer-draengt-taliban-zurueck-a-1284687.html"
                >Afghanistan: Taliban-Offensive auf Kunduz
                wurde zurückgedrängt</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.spiegel.de/panorama/gesellschaft/kobra-in-herne-eingefangene-schlange-wohlauf-stressigster-tag-ihres-lebens-a-1284684.html"
                >Eingefangene Kobra in Herne: "Wahrscheinlich stressigster Tag
                ihres Lebens"</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.spiegel.de/fotostrecke/fotostrecke-170428.html"
                >Cartoons der Woche: Trump packt die Motorsäge aus</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.spiegel.de/sport/sonst/formel-1-nach-unfall-von-anthoine-hubert-kurzer-blick-in-die-kurve-weitermachen-a-1284676.html"
                >Formel 1 nach Unfall von Anthoine Hubert: Kurzer Blick in die
                tödliche Kurve, weitermachen</a
              >
            </li>
            <li class="collection-item truncate">
              <a href="https://www.spiegel.de/politik/ausland/a-1284685.html"
                >Ausbildungsmission im Irak: Raketen auf Bundeswehr-Camp bei
                Bagdad abgefeuert</a
              >
            </li>
          </ul>
        </div>
        <div class="col s12 m6 xl4">
          <ul class="collection with-header z-depth-1">
            <li class="collection-header"><h5>www.welt.de</h5></li>
            <li class="collection-item truncate">
              <a
                href="https://www.welt.de/politik/article199497608/Ausbruch-des-Zweiten-Weltkriegs-Steinmeier-bittet-Polen-um-Vergebung-fuer-deutschen-Terror.html"
                >Steinmeier bittet Polen um Vergebung für deutschen Terror</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.welt.de/politik/deutschland/live199480358/Landtagswahl-Sachsen-Weit-hoehere-Wahlbeteiligung-bis-12-Uhr-Ticker.html"
                >Wahlbeteiligung deutlich gestiegen – in Leipzig fast doppelt so
                hoch wie 2014</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.welt.de/politik/deutschland/plus199493278/BAMF-Jeder-fuenfte-Asylbewerber-ist-in-Deutschland-geboren.html"
                >Jeder fünfte Asylbewerber ist in Deutschland geboren</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.welt.de/wirtschaft/article199499960/Raketenexplosion-im-Iran-Mit-diesem-Foto-lueftet-Trump-ein-US-Militaergeheimnis.html"
                >Mit diesem Foto lüftet Trump ein US-Militärgeheimnis</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.welt.de/vermischtes/article199496738/Schiesserei-in-USA-Polizei-toetet-Schuetzen-in-Texas-mindestens-fuenf-Tote.html"
                >Polizei tötet Schützen in Texas – mindestens fünf Tote</a
              >
            </li>
          </ul>
        </div>
        <div class="col s12 m6 xl4">
          <ul class="collection with-header z-depth-1">
            <li class="collection-header"><h5>www.businessinsider.de</h5></li>
            <li class="collection-item truncate">
              <a
                href="https://www.businessinsider.de/landtagswahlen-wie-die-afd-30-jahre-nach-mauerfall-von-der-verlustangst-im-osten-profitiert-2019-9"
                >Wie die AfD 30 Jahre nach der Wende von der Verlustangst vieler
                Ostdeutscher profitiert</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.businessinsider.de/wahlen-sachsen-brandenburg-zahlen-und-fakten"
                >Zahlen und Fakten, die ihr kennen solltet, um die Wahlen im
                Osten besser zu verstehen</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.businessinsider.de/steinmeier-bittet-polen-um-vergebung-2019-9"
                >Mit dem Überfall auf Polen begann vor 80 Jahren der 2.
                Weltkrieg — nun bittet Steinmeier um Vergebung</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.businessinsider.de/jeder-fuenfte-vollzeitbeschaeftigte-arbeitet-fuer-niedriglohn-2019-9"
                >Jeder fünfte Vollzeitbeschäftigte arbeitet für Niedriglohn</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.businessinsider.de/nur-jedes-dritte-e-auto-ist-in-grossstaedten-zugelassen-2019-9"
                >Nur jedes dritte E-Auto ist in Großstädten zugelassen</a
              >
            </li>
          </ul>
        </div>
        <div class="col s12 m6 xl4">
          <ul class="collection with-header z-depth-1">
            <li class="collection-header"><h5>www.netzwelt.de</h5></li>
            <li class="collection-item truncate">
              <a
                href="https://www.netzwelt.de/motorola-one-action/testbericht.html"
                >Motorola One Action im Test: Neue Tricks für weniger Geld</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.netzwelt.de/smart-watch/kaufberatung-besten-smartwatches-vergleich.html"
                >Kaufberatung: Die besten Smartwatches im Vergleich</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.netzwelt.de/news/172020-formel-1-2019-gross-preis-belgien-rtl-sky-live-stream.html"
                >Formel 1 2019: Großer Preis von Belgien bei RTL und Sky im
                Live-Stream</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.netzwelt.de/news/172421-basketball-wm-2019-deutschland-gegen-frankreich-live-stream-sehen.html"
                >Basketball-WM 2019: Deutschland gegen Frankreich im Live-Stream
                sehen</a
              >
            </li>
            <li class="collection-item truncate">
              <a
                href="https://www.netzwelt.de/news/124501-game-release-liste-2019-termine-neue-spiele-september-liste.html"
                >Game-Release-Liste 2019: Diese neuen Spiele kommen für PC und
                Konsolen</a
              >
            </li>
          </ul>
        </div>
      </div>
    </main>

    <footer class="page-footer blue darken-2">
      <div class="row space">
        <span class="col-s-4">© 2019 Copyright Text</span>
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
